@import url(utilities);

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #2D2D2D;
}
.wrapper
{
    margin: 0 auto;
    width: 1100px;
    background: url(../images/bg.png);

    .logo
    {
        width: 20%;
    }
    .nav-link
    {
        color: $primary-color !important;
    }
    .app
    {
        width: 122px;
    }
    
}
h1
    {
        color: #fff;
    }